@font-face {
  font-family: "Devonshire";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/devonshire-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Devonshire-Regular"), url("../fonts/devonshire-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/devonshire-v8-latin-regular.woff2") format("woff2"), url("../fonts/devonshire-v8-latin-regular.woff") format("woff"), url("../fonts/devonshire-v8-latin-regular.ttf") format("truetype"), url("../fonts/devonshire-v8-latin-regular.svg#Devonshire") format("svg");
  /* Legacy iOS */
}
/* dancing-script-regular - latin */
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dancing-script-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/dancing-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dancing-script-v14-latin-regular.woff2") format("woff2"), url("../fonts/dancing-script-v14-latin-regular.woff") format("woff"), url("../fonts/dancing-script-v14-latin-regular.ttf") format("truetype"), url("../fonts/dancing-script-v14-latin-regular.svg#DancingScript") format("svg");
  /* Legacy iOS */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kaushan-script-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Kaushan Script"), local("KaushanScript-Regular"), url("../fonts/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"), url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"), url("../fonts/kaushan-script-v8-latin-regular.ttf") format("truetype"), url("../fonts/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-regular.woff") format("woff"), url("../fonts/montserrat-v14-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-700.woff") format("woff"), url("../fonts/montserrat-v14-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* croissant-one-regular - latin */
@font-face {
  font-family: "Croissant One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/croissant-one-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Croissant One"), local("CroissantOne-Regular"), url("../fonts/croissant-one-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/croissant-one-v7-latin-regular.woff2") format("woff2"), url("../fonts/croissant-one-v7-latin-regular.woff") format("woff"), url("../fonts/croissant-one-v7-latin-regular.ttf") format("truetype"), url("../fonts/croissant-one-v7-latin-regular.svg#CroissantOne") format("svg");
  /* Legacy iOS */
}
#legal {
  position: relative;
  top: 40%;
  right: -100px;
}
#legal h2 {
  font-size: 5vh;
  color: #fdcb46;
  font-family: sans-serif;
}

#contact {
  position: absolute;
  top: 40%;
  right: 100px;
}
#contact h2 {
  font-size: 5vh;
  color: #fdcb46;
  font-family: sans-serif;
}

#soon {
  background-color: #579c87;
  width: 600px;
  margin: 100px auto 150px auto;
  height: 120px;
  border-radius: 10px;
}
#soon h2 {
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 70px;
  color: #fdcb46;
}

@media screen and (max-width: 1024px) {
  #contact {
    right: 10px;
  }
  #contact h2 {
    font-size: 2.5vh;
  }

  #legal {
    left: 10px;
  }
  #legal h2 {
    font-size: 2.5vh;
  }
}
#soon {
  display: flex;
  width: 300px;
  height: 60px;
  border-radius: 10px;
}
#soon h2 {
  margin-left: 15px;
  position: relative;
  top: 10%;
  font-size: 35px;
}
#soon div {
  width: 5px;
  height: 5px;
  margin: auto 2px;
  background-color: #fdcb46;
  border-radius: 50%;
  display: inline-block;
  animation-name: soon;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#soon div:nth-child(2) {
  margin-left: 15px;
}
#soon div:nth-child(3) {
  animation-delay: 0.3s;
}
#soon div:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes soon {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}
.wiggle:hover {
  animation-name: wiggle;
  animation-duration: 0.2s;
  animation-iteration-count: initial;
  animation-timing-function: linear;
}

@keyframes wiggle {
  0% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
}
footer {
  position: fixed;
  bottom: 0px;
  height: 135px;
  width: 100%;
  background-color: #579c87;
  display: flex;
}

@media screen and (max-width: 1024px) {
  footer {
    height: 75px;
    width: 100%;
  }
}
header {
  height: 250px;
  background-color: #579c87;
  width: 100%;
  border-bottom: 2px solid #a1c181;
}
header div {
  position: relative;
  top: 25%;
}
header div h1 {
  color: #fdcb46;
  font-size: 90px;
  font-family: "Montserrat";
  letter-spacing: -5px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 900px) {
  header {
    height: 150px;
    width: 100%;
  }
  header div h1 {
    font-size: 60px;
  }
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 90%;
  justify-content: space-between;
}

.menu-form {
  width: 435px;
  height: 650px;
  margin-top: 100px;
  box-shadow: 0px 0px 8px 2px #a2a5a4b9;
  overflow: hidden;
}

.menu-title {
  transform: scale(1);
  margin-top: 170px;
}
.menu-title:hover {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
  opacity: 0.7;
}

.icon {
  text-align: center;
  font-size: 70px;
}
.icon .fas {
  background: -webkit-linear-gradient(right, #f78f6a, #f15861);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#one {
  background-color: #fcdfdb;
}
#one .text {
  text-align: center;
  font-size: 40px;
  font-family: "Devonshire", sans-serif;
  font-weight: lighter;
  background: -webkit-linear-gradient(right, #3c1218, #3c1218);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#one .text-menu {
  font-family: segoe print;
  text-align: center;
  font-size: 40px;
  color: #3c1218;
}

#two {
  background-color: #fff5fe;
}
#two .text {
  text-align: center;
  font-size: 28px;
  font-family: "Croissant One", sans-serif;
  font-weight: lighter;
  background: -webkit-linear-gradient(right, #c19df3, #d8852e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#two .text-menu {
  font-family: serif;
  text-align: center;
  font-size: 40px;
  color: #d8852e;
}

#three {
  background-color: #f9f9f9;
}
#three .text {
  text-align: center;
  font-size: 40px;
  font-family: "Dancing script", sans-serif;
  font-weight: lighter;
  background: -webkit-linear-gradient(right, #0887fb, #0431df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#three .text-menu {
  font-family: segoe script;
  text-align: center;
  font-size: 40px;
  color: #0431df;
}

#four {
  background-color: #fdfffd;
}
#four .text {
  text-align: center;
  font-size: 40px;
  font-family: "kaushan script", sans-serif;
  font-weight: lighter;
  background: -webkit-linear-gradient(right, #bfff7e, #42973c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#four .text-menu {
  font-family: segoe script;
  text-align: center;
  font-size: 40px;
  color: #72bf56;
}

@media screen and (max-width: 1024px) and (max-width: 980px) {
  .row {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .menu-form {
    width: 300px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
