@font-face {
  font-family: "Devonshire";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/devonshire-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Devonshire-Regular"), url("../fonts/devonshire-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/devonshire-v8-latin-regular.woff2") format("woff2"), url("../fonts/devonshire-v8-latin-regular.woff") format("woff"), url("../fonts/devonshire-v8-latin-regular.ttf") format("truetype"), url("../fonts/devonshire-v8-latin-regular.svg#Devonshire") format("svg");
  /* Legacy iOS */
}
/* dancing-script-regular - latin */
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dancing-script-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/dancing-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dancing-script-v14-latin-regular.woff2") format("woff2"), url("../fonts/dancing-script-v14-latin-regular.woff") format("woff"), url("../fonts/dancing-script-v14-latin-regular.ttf") format("truetype"), url("../fonts/dancing-script-v14-latin-regular.svg#DancingScript") format("svg");
  /* Legacy iOS */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kaushan-script-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Kaushan Script"), local("KaushanScript-Regular"), url("../fonts/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"), url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"), url("../fonts/kaushan-script-v8-latin-regular.ttf") format("truetype"), url("../fonts/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-regular.woff") format("woff"), url("../fonts/montserrat-v14-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-700.woff") format("woff"), url("../fonts/montserrat-v14-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* croissant-one-regular - latin */
@font-face {
  font-family: "Croissant One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/croissant-one-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Croissant One"), local("CroissantOne-Regular"), url("../fonts/croissant-one-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/croissant-one-v7-latin-regular.woff2") format("woff2"), url("../fonts/croissant-one-v7-latin-regular.woff") format("woff"), url("../fonts/croissant-one-v7-latin-regular.ttf") format("truetype"), url("../fonts/croissant-one-v7-latin-regular.svg#CroissantOne") format("svg");
  /* Legacy iOS */
}
#legal {
  position: relative;
  top: 40%;
  right: -100px;
}
#legal h2 {
  font-size: 5vh;
  color: #fdcb46;
  font-family: sans-serif;
}

#contact {
  position: absolute;
  top: 40%;
  right: 100px;
}
#contact h2 {
  font-size: 5vh;
  color: #fdcb46;
  font-family: sans-serif;
}

@media screen and (max-width: 1024px) {
  #contact {
    right: 10px;
  }
  #contact h2 {
    font-size: 2.5vh;
  }

  #legal {
    left: 10px;
  }
  #legal h2 {
    font-size: 2.5vh;
  }
}
#soon {
  display: flex;
  width: 550px;
  height: 120px;
  border-radius: 30px;
  text-align: center;
  background-color: #579c87;
  margin: 100px auto 200px auto;
}
#soon h2 {
  margin-left: 15px;
  position: relative;
  top: 10%;
  font-size: 70px;
  text-align: center;
  color: #fdcb46;
}
#soon div {
  width: 15px;
  height: 15px;
  margin: auto 2px;
  background-color: #fdcb46;
  border-radius: 50%;
  display: inline-block;
  animation-name: soon;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#soon div:nth-child(2) {
  margin-left: 15px;
}
#soon div:nth-child(3) {
  animation-delay: 0.3s;
}
#soon div:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes soon {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}
@media screen and (max-width: 900px) {
  #soon {
    width: 290px;
    height: 60px;
    border-radius: 15px;
  }
  #soon h2 {
    font-size: 35px;
  }
  #soon div {
    width: 5px;
    height: 5px;
  }

  @keyframes soon {
    50% {
      transform: translateY(-2px);
    }
  }
}
.wiggle:hover {
  animation-name: wiggle;
  animation-duration: 0.2s;
  animation-iteration-count: initial;
  animation-timing-function: linear;
}

@keyframes wiggle {
  0% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
}
footer {
  position: fixed;
  bottom: 0px;
  height: 135px;
  width: 100%;
  background-color: #579c87;
  display: flex;
  border-top: 2px solid #a1c181;
}

@media screen and (max-width: 1024px) {
  footer {
    height: 75px;
    width: 100%;
  }
}
header {
  height: 250px;
  background-color: #579c87;
  width: 100%;
  border-bottom: 2px solid #a1c181;
}
header div {
  position: relative;
  top: 25%;
}
header div h1 {
  color: #fdcb46;
  font-size: 90px;
  font-family: "Montserrat";
  letter-spacing: -5px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 900px) {
  header {
    height: 150px;
    width: 100%;
  }
  header div h1 {
    font-size: 60px;
  }
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 90%;
  justify-content: space-between;
}

.menu-form {
  width: 435px;
  height: 650px;
  margin-top: 100px;
  box-shadow: 0px 0px 8px 2px #a2a5a4b9;
  overflow: hidden;
}

.menu-title {
  transform: scale(1);
  margin-top: 170px;
}
.menu-title:hover {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
  opacity: 0.7;
}

.icon {
  text-align: center;
  font-size: 70px;
}
.icon .fas {
  background: -webkit-linear-gradient(right, #f78f6a, #f15861);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#one {
  background-color: #fcdfdb;
}
#one .text {
  text-align: center;
  font-size: 40px;
  font-family: "Devonshire", sans-serif;
  background: -webkit-linear-gradient(right, #3c1218, #3c1218);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#one .text-menu {
  font-family: segoe print;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  color: #3c1218;
}

#two {
  background-color: #fff5fe;
}
#two .text {
  text-align: center;
  font-size: 28px;
  font-family: "Croissant One", sans-serif;
  background: -webkit-linear-gradient(right, #6e4ccc, #d8852e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#two .text-menu {
  font-family: serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  color: #d8852e;
}

#three {
  background-color: #f9f9f9;
}
#three .text {
  text-align: center;
  font-size: 40px;
  font-family: "Dancing script", sans-serif;
  background: -webkit-linear-gradient(right, #0887fb, #0431df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#three .text-menu {
  font-family: segoe script;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  color: #0431df;
}

#four {
  background-color: #fdfffd;
}
#four .text {
  text-align: center;
  font-size: 40px;
  font-family: "kaushan script", sans-serif;
  background: -webkit-linear-gradient(right, #bfff7e, #42973c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#four .text-menu {
  font-family: segoe script;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  color: #72bf56;
}

@media screen and (min-width: 1500px) {
  .content {
    display: flex;
    max-width: 1900px;
    margin: auto;
  }

  .row {
    max-width: 910px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 980px) {
  .row {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .menu-form {
    width: 300px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
}
#lanote .content-menu {
  width: 100%;
  padding-bottom: 235px;
}
#lanote .content-menu h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 5vw;
}
#lanote .content-menu .menu {
  width: 80%;
  max-width: 1190px;
  background-color: #fcdfdb;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 0px 8px 2px #a2a5a4b9;
}
#lanote .content-menu .menu .icon i {
  margin-top: 100px;
  font-size: 10vw;
}
#lanote .content-menu .menu .icon.botom i {
  font-size: 6vw;
}
#lanote .content-menu .menu .icon.botom span {
  font-family: "Devonshire";
  color: #3c1218;
  margin-left: 20px;
}
#lanote .content-menu .menu .text {
  font-family: "Devonshire";
  font-size: 4vw;
  text-align: center;
  background: -webkit-linear-gradient(right, #3c1218, #3c1218);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#lanote .content-menu .menu .text-title {
  font-family: segoe print;
  font-weight: bold;
  font-size: 30px;
  color: #3c1218;
}
#lanote .content-menu .menu .divider {
  display: flex;
  margin-top: 80px;
}
#lanote .content-menu .menu img {
  width: 25%;
  height: auto;
  margin: auto;
  vertical-align: middle;
}
#lanote .content-menu .menu img.img2 {
  float: right;
  margin-right: 5%;
}
#lanote .content-menu .menu img.img1 {
  margin-left: 5%;
}
#lanote .content-menu .menu .text-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
}
#lanote .content-menu .menu .text-menu p {
  font-size: 25px;
  font-family: segoe print;
  margin-top: 20px;
  color: #3c1218;
}
#lanote .content-menu .menu .text-menu .price {
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  #lanote div.text-menu {
    flex-direction: column;
  }
  #lanote .price {
    order: 1;
    margin: auto;
  }
  #lanote .prog {
    order: 2;
  }
  #lanote .icon.botom span {
    font-size: 5vw;
  }
  #lanote .content-menu .menu {
    width: 90%;
  }
  #lanote .content-menu .menu .text-title {
    font-size: 20px;
  }
}

#lechic .content-menu {
  width: 100%;
  padding-bottom: 235px;
}
#lechic .content-menu h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 5vw;
}
#lechic .content-menu .menu {
  width: 80%;
  max-width: 1190px;
  background-color: #fff5fe;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 0px 8px 2px #a2a5a4b9;
}
#lechic .content-menu .menu .icon i {
  margin-top: 100px;
  font-size: 10vw;
}
#lechic .content-menu .menu .icon.botom i {
  font-size: 6vw;
}
#lechic .content-menu .menu .icon.botom span {
  font-family: "Croissant One";
  color: black;
  margin-left: 20px;
}
#lechic .content-menu .menu .text {
  font-family: "Croissant One";
  font-size: 4vw;
  text-align: center;
  background: -webkit-linear-gradient(right, #6e4ccc, #d8852e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#lechic .content-menu .menu .text-title {
  font-family: "serif";
  font-weight: bold;
  font-size: 30px;
  color: black;
}
#lechic .content-menu .menu .divider {
  display: flex;
  margin-top: 80px;
}
#lechic .content-menu .menu img {
  width: 25%;
  height: auto;
  margin: auto;
  vertical-align: middle;
}
#lechic .content-menu .menu img.img2 {
  float: right;
  margin-right: 5%;
}
#lechic .content-menu .menu img.img1 {
  margin-left: 5%;
}
#lechic .content-menu .menu .text-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
}
#lechic .content-menu .menu .text-menu p {
  font-size: 25px;
  font-family: "serif";
  margin-top: 20px;
  color: black;
}
#lechic .content-menu .menu .text-menu .price {
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  #lechic div.text-menu {
    flex-direction: column;
  }
  #lechic .price {
    order: 1;
    margin: auto;
  }
  #lechic .prog {
    order: 2;
  }
  #lechic .icon.botom span {
    font-size: 5vw;
  }
  #lechic .content-menu .menu {
    width: 90%;
  }
  #lechic .content-menu .menu .text-title {
    font-size: 20px;
  }
}
#lechic #grade1 p {
  color: #d8852e;
  margin-bottom: 30px;
}
#lechic #grade2 p {
  color: #a56799;
  margin-bottom: 30px;
}
#lechic #grade3 {
  padding-bottom: 150px;
}
#lechic #grade3 p {
  color: #6e4ccc;
  margin-bottom: 30px;
}

#ledelice .content-menu {
  width: 100%;
  padding-bottom: 235px;
}
#ledelice .content-menu h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 5vw;
}
#ledelice .content-menu .menu {
  width: 80%;
  max-width: 1190px;
  background-color: #f9f9f9;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 0px 8px 2px #a2a5a4b9;
}
#ledelice .content-menu .menu .icon i {
  margin-top: 100px;
  font-size: 10vw;
}
#ledelice .content-menu .menu .icon.botom i {
  font-size: 6vw;
}
#ledelice .content-menu .menu .icon.botom span {
  font-family: "Dancing script";
  color: #000;
  margin-left: 20px;
}
#ledelice .content-menu .menu .text {
  font-family: "Dancing script";
  font-size: 4vw;
  text-align: center;
  background: -webkit-linear-gradient(right, #0431df, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#ledelice .content-menu .menu .text-title {
  font-family: segoe print;
  font-weight: bold;
  font-size: 30px;
  color: #000;
}
#ledelice .content-menu .menu .divider {
  display: flex;
  margin-top: 80px;
}
#ledelice .content-menu .menu img {
  width: 25%;
  height: auto;
  margin: auto;
  vertical-align: middle;
}
#ledelice .content-menu .menu img.img2 {
  float: right;
  margin-right: 5%;
}
#ledelice .content-menu .menu img.img1 {
  margin-left: 5%;
}
#ledelice .content-menu .menu .text-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
}
#ledelice .content-menu .menu .text-menu p {
  font-size: 25px;
  font-family: segoe print;
  margin-top: 20px;
  color: #000;
}
#ledelice .content-menu .menu .text-menu .price {
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  #ledelice div.text-menu {
    flex-direction: column;
  }
  #ledelice .price {
    order: 1;
    margin: auto;
  }
  #ledelice .prog {
    order: 2;
  }
  #ledelice .icon.botom span {
    font-size: 5vw;
  }
  #ledelice .content-menu .menu {
    width: 90%;
  }
  #ledelice .content-menu .menu .text-title {
    font-size: 20px;
  }
}
#ledelice #grade3 {
  padding-bottom: 150px;
}

#ledelice .content-menu {
  width: 100%;
  padding-bottom: 235px;
}
#ledelice .content-menu h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 5vw;
}
#ledelice .content-menu .menu {
  width: 80%;
  max-width: 1190px;
  background-color: #fdfffd;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 0px 8px 2px #a2a5a4b9;
}
#ledelice .content-menu .menu .icon i {
  margin-top: 100px;
  font-size: 10vw;
}
#ledelice .content-menu .menu .icon.botom i {
  font-size: 6vw;
}
#ledelice .content-menu .menu .icon.botom span {
  font-family: "kaushan script";
  color: #000;
  margin-left: 20px;
}
#ledelice .content-menu .menu .text {
  font-family: "kaushan script";
  font-size: 4vw;
  text-align: center;
  background: -webkit-linear-gradient(right, #bfff7e, #42973c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#ledelice .content-menu .menu .text-title {
  font-family: segoe print;
  font-weight: bold;
  font-size: 30px;
  color: #000;
}
#ledelice .content-menu .menu .divider {
  display: flex;
  margin-top: 80px;
}
#ledelice .content-menu .menu img {
  width: 25%;
  height: auto;
  margin: auto;
  vertical-align: middle;
}
#ledelice .content-menu .menu img.img2 {
  float: right;
  margin-right: 5%;
}
#ledelice .content-menu .menu img.img1 {
  margin-left: 5%;
}
#ledelice .content-menu .menu .text-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
}
#ledelice .content-menu .menu .text-menu p {
  font-size: 25px;
  font-family: segoe print;
  margin-top: 20px;
  color: #000;
}
#ledelice .content-menu .menu .text-menu .price {
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  #ledelice div.text-menu {
    flex-direction: column;
  }
  #ledelice .price {
    order: 1;
    margin: auto;
  }
  #ledelice .prog {
    order: 2;
  }
  #ledelice .icon.botom span {
    font-size: 5vw;
  }
  #ledelice .content-menu .menu {
    width: 90%;
  }
  #ledelice .content-menu .menu .text-title {
    font-size: 20px;
  }
}
#ledelice #grade3 {
  padding-bottom: 150px;
}

/*# sourceMappingURL=style.css.map */
