*{
    margin: 0px;
    padding: 0px;
}
header{
    height: 240px;
    background-color: #579c87;
    width: 100%;
    
}
header div h1{
    font-size: 95px;
    color: #fdcb46;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 50px;
    
}

footer{
    position: fixed;
    bottom: 0px;
    height: 140px;
    width: 100%;
    background-color: #579c87;
    display: flex;
}
#legal{
    position: relative;
    top: 40%;
    right: -100px;
}
#legal h2{
    font-size: 35px; 
    color: #fdcb46;
    font-family: sans-serif;

}
#contact{
    position: absolute;
    top: 40%;
    right: 100px;
}
#contact h2{
    font-size: 35px;
    color: #fdcb46;
    font-family: sans-serif;
}