//color
$green:#579c87;
$green-light:#a1c181;
$yellow:#fdcb46;
$black:#000;
//la note enchanté
$lanote:#fcdfdb;
$icon1:#f78f6a;
$icon2:#f15861;
$lanote2:#3c1218;
//le chic français
$lechic: #fff5fe;
$lechic2:#d8852e;
$lechic3:#a56799;
$lechic4:#6e4ccc;
//le delice des papilles
$ledelice:#f9f9f9;
$ledelice2:#0431df;
$ledelice3:#0887fb;
//la palette du gout
$lapalette:#fdfffd;
$lapalette2:#42973c;
$lapalette3:#bfff7e;
$lapalette4:#72bf56;
//font
$devonshire:"Devonshire";
$segoe:segoe print;
$croissant:'Croissant One';
$dancing:"Dancing script";
$kaushan:'kaushan script';
