//color
$green:#579c87;
$green-light:#a1c181;
$yellow:#fdcb46;
//la note enchanté
$lanote:#fcdfdb;
$icon1:#f78f6a;
$icon2:#f15861;
$lanote2:#3c1218;
$lechic: #fff5fe;
$ledelice:#f9f9f9;
$lapalette:#fdfffd;
