*{
    margin: 0px;
    padding: 0px;
}
.row{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 90%;
    justify-content: space-between;
}
.menu-form{
    width: 435px;
    height:650px;
    margin-top: 100px;
    box-shadow: 0px 0px 8px 2px #a2a5a4b9;
}
.icon{
    text-align: center;
    font-size: 70px;
    margin-top: 170px;
}
.icon .fas{
    @include transition-color($icon1,$icon2)
  }
.text{
    text-align: center;
    font-size: 40px;
    font-family:"Devonshire", cursive ,sans-serif;
    color: $lanote2;
    &-menu{
        font-family: segoe print;
        text-align: center;
        font-size: 50px;
        color: $lanote2;
    }
}

#one{
    background-color:$lanote;
}
#two{
    background-color: $lechic;
}
#three{
    background-color: $ledelice;
}
#four{
    background-color: $lapalette;
}
@media screen and (max-width:900px){
    .row{
        flex-direction: column;
        width: 100%;
    }
    .menu-form{
       width: 300px;
       height:500px;
       margin-left: auto;
       margin-right: auto;;
       margin-top: 100px;
       }

}