*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.row{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 90%;
    justify-content: space-between;
    
}
.menu-form{
    width: 435px;
    height:650px;
    margin-top: 100px;
    box-shadow: 0px 0px 8px 2px #a2a5a4b9;
    overflow: hidden;
}
.menu-title{
    transform: scale(1);
    margin-top: 170px;
    &:hover{
        transform: scale(1.1);
        transition: transform 500ms ease-in-out;
        opacity: 0.7;
    }
}
.icon{
    text-align: center;
    font-size: 70px;
    .fas{
        @include transition-color($icon1,$icon2)
      }
}
#one{
    background-color:$lanote;
    @include menu-acceuil($lanote2,$lanote2,$lanote2,"Devonshire",segoe print,40px)
}
#two{
    background-color: $lechic;
    @include menu-acceuil($lechic2,$lechic4,$lechic2,'Croissant One',serif,28px)
}
#three{
    background-color: $ledelice;
    @include menu-acceuil($ledelice2,$ledelice3,$ledelice2,'Dancing script',segoe script,40px)
}
#four{
    background-color: $lapalette;
    @include menu-acceuil($lapalette4,$lapalette3,$lapalette2,'kaushan script',segoe script,40px)
}
@media screen and (min-width:1920px){
    .content{
        display: flex;
        max-width: 1900px;
        margin: auto;
    }
    .row{
        max-width:910px; ;
    }
}
@media screen and (max-width:1024px){
    @media screen and (max-width:980px){
        .row{
            flex-direction: column;
            width: 100%;
        }
    }
    .menu-form{
       width: 300px;
       height:500px;
       margin-left: auto;
       margin-right: auto;;
       margin-top: 100px;
       }
}