#lanote{
    @include menu($lanote,$devonshire,$lanote2,$lanote2,$lanote2,$segoe)
}
#lechic{
    @include menu($lechic,$croissant,$lechic4,$lechic2);
    #grade1 p{
        color:$lechic2;
        margin-bottom: 30px;
        &.text-title{
            margin-bottom: 0px;
        }
    }
    #grade2 p{
        color:$lechic3;
        margin-bottom: 30px;
        &.text-title{
            margin-bottom: 0px;
        }
    }
    #grade3 {
        padding-bottom: 150px;
        p{
        color:$lechic4;
        margin-bottom: 30px;
        &.text-title{
            margin-bottom: 0px;
        }
        }
       
    }
    div.menu #mention{
        padding: 100px 7%;
        section{
            h2{
                margin: 50px auto;
                text-align: center;
                font-size: 3vh;
            }
        }
    }
}
#ledelice{
    @include menu($ledelice,$dancing,$ledelice2,$ledelice3,$black,$segoe);
    #grade3 {
        padding-bottom: 150px;
    }
}
#lapalette{
    @include menu($lapalette,$kaushan,$lapalette3,$lapalette2,$black,$segoe);
    #grade3 {
        padding-bottom: 150px;
    }
}
